fastapi==0.118.0
uvicorn==0.37.0
sqlalchemy==2.0.43
pydantic==2.11.10
joblib==1.5.2
passlib[bcrypt]==1.7.4
python-jose==3.5.0
requests==2.32.5
python-multipart==0.0.20
httpx==0.28.1
scikit-learn==1.7.2
pandas==2.3.3
numpy==2.3.3
pdfplumber==0.11.7
PyPDF2==3.0.1
python-dateutil
pillow
pdfminer.six==20250506
psycopg2-binary==2.9.10
